.first {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body { background-color: #d6d4e0;} 
.firstF{
    display: flex;
  justify-content: center;
  align-items: flex-start;
    
}
.levo{
   /* Poništava automatski margin koji se inače primenjuje na tabelu */
  border-collapse: collapse; /* Spaja granice ćelija */
  background-color: whitesmoke;
  width: auto;
  border-width: 4;
  overflow-y: auto;
  justify-content: center;
  align-items: flex-start;
  
  display: block; /* Promenite display vrednost na block */
  position: relative;
  
}
.form {
 
  margin-right: 0px;
  margin-left: auto;
  align-content: right;
  justify-content: right;
  align-items: right;
  
}
.kontejner {
  overflow-y: auto;
  display: flex;
  justify-content: flex-end; /* Pomeri sadržaj skroz desno */
}
.levo td img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.levo img {
  max-width: 100%; /* Smanjuje širinu slike kako bi se prilagodila širini ćelije */
  height: auto; /* Omogućava da se visina slike prilagodi proporcionalno */
  position: absolute; /* Postavlja sliku unutar ćelije */
   /* Postavlja sliku na vrh ćelije */
   /* Postavlja sliku na levoj ivici ćelije */
}
.img
{

  flex: left;
  position: absolute;
  left:5cm;
  top: 5cm; 
  width: 200px;
  height: 200px;
}
.img-art
{

  flex: left;
  position: absolute;
  left:5cm;
  top: 5cm; 
  width: 50px;
  height: 50px;
}


.levo tr,
.levo th,
.levo tbody,
.levo td {
  overflow-y: auto;
  border-width: 4;
  width: auto;
  text-align: center; /* Tekst u ćelijama je poravnat levo */
  padding: 8px; /* Dodaje unutrašnji razmak za bolji izgled */
  border: 1px solid purple /* Dodaje granice ćelijama */
  
}
.p{
  font-size: 30;
  color: plum;
}
.custom-button {
  /* Postavite veću veličinu gumba */
  padding: 10px 20px; /* možete prilagoditi ove vrijednosti prema potrebi */

  /* Promijenite boju gumba */
  background-color: purple; /* npr. plava boja (#007bff) */
  color: #fff; /* boja slova bijela */

  /* Dodajte neke efekte */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paragrafLevi {

  text-align: left;
  margin-left: 0px;
}
/* Dodatni stilovi kad korisnik približi miš preko gumba */
.custom-button:hover {
  background-color: black; /* npr. tamnija nijansa plave (#0056b3) */
}